.blog-post-body {
    color: #000000;
    background-color: #ffffff;
    height: 170px;
}

.blog-post-body a {
    color: #fff5f5;
}

.blog-post-body a:hover {
    color: #fff5f5;
}

.servicecss {
    background-color: #ffffff;
    font-size: 16px;
    color: #483120;
}

.servicebg {
    position: relative;
    width: 100% !important;
    bottom: auto;
    top: -145px;
}

.social {
    font-size: 18px;
    color: #000;
}

.twitter {
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 3px;
}

/* .twitter {
            filter: sepia(100%);
        } */

.parent {
    position: relative;
    top: -35px;
    left: 0;
}

.logoparent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    /* -webkit-animation: spin 50s linear infinite;
            -moz-animation: spin 50s linear infinite;
            animation: spin 50s linear infinite; */
}

.image2 {
    position: absolute;
    width: 85%;
    top: auto;
    left: 0%;
    bottom: 2%;
}

.logoimage1 {
    position: relative;
    top: 0;
    left: 0;
    -webkit-animation: spin 50s linear infinite;
    -moz-animation: spin 50s linear infinite;
    animation: spin 50s linear infinite;
}

.logoimage2 {
    position: absolute;
    width: 67%;
    top: 17%;
    left: 17%;
}

.logoimage3 {
    background-color: #000;
}

.servicebg {
    -webkit-animation: spin 14s linear infinite;
    -moz-animation: spin 14s linear infinite;
    animation: spin 14s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.chamberlist {
    color: #160707;
}

.chamberlist h5 {
    font-size: 20px;
    color: #160707;
}

.footerlist div.listfooter a {
    font-size: 19px;
    line-height: 15px;
    width: 100%;
    display: block;
    color: #000;
}

.aboutcss {
    background-color: #ffffff;
}

.myjourneyfont {
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    color: #ff0000;
}

select.booking option {
    height: 50px;
}

.appoinmentcss {
    background-color: #fff;
    color: #160707;
}

.appoinmentcolor h2 {
    color: #160707;
}

.appoinmentcolor h3 {
    color: #160707;
}

.darkcolorfont {
    /* color: #160707; */
    color: #000;
}

.appoinmentsubmit {
    padding-left: 50%;
    padding-right: 40%;
    background-color: #be994f !important;
}

.allblogsbutton {
    background-color: #ff0000;
}

.blogfilter {
    background-color: #ffe4ce;
    padding-top: 20px;
}

.contactsubmit {
    background-color: #100e0e;
    color: #be994f;
    font-size: larger;
    padding-left: 46%;
    padding-right: 46%;
}

.contactsubmit:focus {
    background-color: #100e0e;
    color: #ffffff !important;
}

form.formdata3 {
    font-size: 18px;
}

form div label {
    font-size: 16px;
    color: #fff;
}

#contact {
    background-color: #fff;
}

.carousel-caption {
    top: 20%;
    bottom: auto;
    right: auto;
    left: 13%;
    text-align: left;
    font-family: "Lato", sans-serif;
    color: #302f2f;
    text-shadow: 0px 0px 5px #c9c1b3;
}

.carousel-caption strong {
    font-family: "Alegreya", serif !important;
}

.carousel-caption h1 {
    color: #dbb362;
    font-weight: 100;
    font-family: "Alegreya", serif !important;
    text-transform: capitalize !important;
}

.aboutcss a {
    color: #be994f;
}

.aboutcss a:hover {
    color: #000;
}

@media (min-width:320px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 350px;
    }

    .team-item-name {
        font-size: 16px !important;
        height: 65px;
        padding: 14px 0px;
    }

    .team-item-image {
        height: 85px;
    }

    .team-item-info .team-item-position {
        height: 220px;
        font-size: 14px;
    }

    .team-item-info {
        min-height: 170px;
    }

    .team-item-image img {
        width: 55%
    }

    .footerlist div.listfooter a {
        font-size: 14px;
    }

    .contact-info-title {
        font-size: 10px !important;
    }

    .contact-info-text {
        font-size: 14px !important;
    }

    h1 {
        font-size: 18px !important;
    }

    .carousel-caption .astro {
        font-size: 16px !important;
    }

    .carousel-caption h1 {
        font-size: 16px !important;
        margin: 3px 0px;
        line-height: 1em;
    }

    .carousel-caption {
        top: 5%;
        bottom: auto;
    }

    .carousel-caption strong {
        font-size: 16px;
        font-weight: 500;
    }

    .carousel-caption p {
        font-size: 12px;
        line-height: 0.6em;
        margin-top: 3px;
    }

    .carousel-caption p span {
        font-size: 13px !important;
        line-height: 0.6em;
        margin-top: 3px;
    }

    .carousel-caption a {
        font-size: 12px;
        padding: 2px 26px;
        margin-top: 5px;
    }

    .carousel-caption p span a {
        margin-top: 5px;
        padding: 2px 26px;
    }

    .carousel-indicators {
        bottom: 0px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .navbar-nav li a {
        font-size: 14px;
    }

    .servicebg {
        position: relative;
        width: 60%;
        bottom: auto;
        top: -100px;
    }

    .blog-post-body p {
        font-size: 14px;
    }

    .headerbookappointment {
        font-size: 12px;
        margin-left: 25px;
    }

    .headercall {
        font-size: 12px;
        margin-left: 25px;
    }

    footer.site-footer {
        padding-bottom: 80px !important;
    }

    .headersocial {
        display: none;
    }

    .logoimage1 {
        height: 150px;
        width: auto;
        margin-top: -80px;
        margin-left: -16%;
    }

    .logoimage2 {
        height: 140%;
        width: auto;
        margin-top: -65px;
        margin-left: -14%;
    }

    .logoimage3 {
        width: 145px !important;
    }

    .nav-solid .navigation {
        height: 45px;
    }

    .nav-solid {
        height: 40px;
    }

    .navbar .nav-wrap {
        height: 0%;
        margin: -25px 0px;
    }

    .contactsubmit {
        padding-left: 40%;
        padding-right: 42%;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 560px;
    }

    .team-item-name {
        font-size: 18px !important;
        height: 70px;
        padding: 14px 0px;
    }

    .team-item-image {
        height: 120px;
    }

    .team-item-info .team-item-position {
        height: 150px;
        font-size: 16px;
    }

    .team-item-info {
        min-height: 170px;
    }

    .team-item-image img {
        width: 35%
    }

    .footerlist div.listfooter a {
        font-size: 16px;
    }

    .contact-info-title {
        font-size: 10px !important;
    }

    .contact-info-text {
        font-size: 14px !important;
    }

    h1 {
        font-size: 18px !important;
    }

    .carousel-caption .astro {
        font-size: 26px !important;
    }

    .carousel-caption h1 {
        font-size: 26px !important;
        margin: 10px 0px;
        line-height: 1em;
    }

    .carousel-caption {
        top: 20%;
        bottom: auto;
    }

    .carousel-caption strong {
        font-size: 26px;
        font-weight: 500;
    }

    .carousel-caption p {
        font-size: 18px;
        line-height: 1em;
        margin-top: 8px;
    }

    .carousel-caption p span {
        font-size: 18px !important;
        line-height: 1em;
        margin-top: 8px;
    }

    .carousel-caption a {
        font-size: 16px;
        padding: 4px 26px;
        margin-top: 10px;
    }

    .carousel-caption p span a {
        margin-top: 10px;
        padding: 4px 26px;
    }

    .carousel-indicators {
        bottom: 10px;
    }

    .navbar-nav li a {
        font-size: 14px;
    }

    .servicebg {
        position: relative;
        width: 60%;
        bottom: auto;
        top: -180px;
    }

    .blog-post-body p {
        font-size: 14px;
    }

    .logoimage1 {
        height: 200px;
        width: auto;
        margin-top: -70px;
        margin-left: -15%;
    }

    .logoimage2 {
        height: 108%;
        width: auto;
        margin-top: -62px;
        margin-left: -12%;
    }

    .logoimage3 {
        width: 190px !important;
    }

    .nav-solid .navigation {
        height: 60px;
    }

    .headercall {
        font-size: 14px;
        margin-left: 25px;
    }

    .headerbookappointment {
        font-size: 14px;
        margin-left: 25px;
    }

    .headersocial {
        display: block;
    }

    .navbar .nav-wrap {
        height: 0%;
        margin: -70px 0px;
    }

    .contactsubmit {
        padding-left: 45%;
        padding-right: 45%;
    }
}

@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    .servicebg {
        width: 100%;
        bottom: auto;
        top: -280px;
    }

    .container {
        width: 758px;
    }

    .team-item-name {
        font-size: 18px !important;
        height: 70px;
        padding: 14px 0px;
    }

    .team-item-image {
        height: 160px;
    }

    .team-item-info .team-item-position {
        height: 90px;
        font-size: 16px;
    }

    .team-item-info {
        min-height: 170px;
    }

    .team-item-image img {
        width: 35%
    }

    .footerlist div.listfooter a {
        font-size: 14px;
    }

    .contact-info-title {
        font-size: 12px !important;
    }

    .contact-info-text {
        font-size: 14px !important;
    }

    h1 {
        font-size: 24px !important;
    }

    .carousel-caption .astro {
        font-size: 40px !important
    }

    .carousel-caption h1 {
        font-size: 40px !important;
        margin: 12px 0px;
        line-height: 1.2em;
    }

    .carousel-caption {
        top: 20%;
        bottom: auto;
    }

    .carousel-caption strong {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel-caption p {
        font-size: 20px;
        line-height: 1em;
        margin-top: 10px;
    }

    .carousel-caption p span {
        font-size: 20px !important;
        line-height: 1em;
        margin-top: 10px;
    }

    .carousel-caption a {
        font-size: 18px;
        padding: 5px 26px;
        margin-top: 16px;
    }

    .carousel-caption p span a {
        margin-top: 16px;
        padding: 5px 26px;
    }

    .carousel-indicators {
        bottom: 10px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .navbar-nav li a {
        font-size: 14px;
    }

    /* .navbar-header {
                width: 100%;
                padding-right: 8px;
                float: none;
            } */

    .blog-post-body p {
        font-size: 14px;
    }

    .logoimage1 {
        height: 200px;
        width: auto;
        margin-top: -70px;
        margin-left: -15%;
    }

    .logoimage2 {
        height: 108%;
        width: auto;
        margin-top: -62px;
        margin-left: -12%;
    }

    .logoimage3 {
        width: 195px !important;
    }

    .nav-solid .navigation {
        height: 60px;
    }

    .headercall {
        font-size: 16px;
        margin-left: 25px;
    }

    .headerbookappointment {
        font-size: 14px;
        margin-left: 25px;
    }

    .navbar .nav-wrap {
        height: 0%;
        margin: -70px 0px;
    }

    .contactsubmit {
        padding-left: 42%;
        padding-right: 42%;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }

    .servicebg {
        width: 100%;
        bottom: auto;
        top: -110px;
    }

    .navbar-nav li a {
        font-size: 14px;
        line-height: 60px;
    }

    .navbar .nav-wrap {
        height: 100%;
    }

    .container {
        width: 982px;
    }

    .team-item-name {
        font-size: 18px !important;
        height: 70px;
        padding: 14px 0px;
    }

    .team-item-image {
        height: 140px;
    }

    .team-item-info .team-item-position {
        height: 120px;
        font-size: 14px;
    }

    .team-item-info {
        min-height: 200px;
    }

    .team-item-image img {
        width: 50%
    }

    .footerlist div.listfooter a {
        font-size: 14px;
    }

    .contact-info-title {
        font-size: 14px !important;
    }

    .contact-info-text {
        font-size: 14px !important;
    }

    h1 {
        font-size: 26px !important;
    }

    .carousel-caption .astro {
        font-size: 34px !important;
    }

    .carousel-caption h1 {
        font-size: 34px !important;
        margin: 12px 0px;
        line-height: 1.2em;
    }

    .carousel-caption {
        top: 28%;
        bottom: auto;
    }

    .carousel-caption strong {
        font-size: 28px;
        font-weight: 500;
    }

    .carousel-caption p {
        font-size: 24px;
        line-height: 1.2em;
        margin-top: 15px;
    }

    .carousel-caption p span {
        font-size: 24px !important;
        line-height: 1.2em;
        margin-top: 15px;
    }

    .carousel-caption a {
        font-size: 18px;
        padding: 5px 26px;
        margin-top: 8px;
    }

    .carousel-caption p span a {
        margin-top: 8px;
        padding: 5px 26px;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .blog-post-body p {
        font-size: 14px;
    }

    .logoimage1 {
        height: 200px;
        width: auto;
        margin-top: -70px;
        margin-left: -15%;
    }

    .logoimage2 {
        height: 108%;
        width: auto;
        margin-top: -62px;
        margin-left: -12%;
    }

    .nav-solid .navigation {
        height: 60px;
    }

    .headercall {
        font-size: 16px;
        margin-left: 25px;
    }

    .headerbookappointment {
        font-size: 14px;
        margin-left: 25px;
    }

    .navbar .nav-wrap {
        height: 0%;
        margin: 0px 0px;
    }

    .contactsubmit {
        padding-left: 44%;
        padding-right: 44%;
    }

}

@media (min-width: 1200px) {

    .servicebg {
        width: 100%;
        bottom: auto;
        top: -150px;
    }

    .container {
        width: 1190px;
    }

    .team-item-name {
        font-size: 16px !important;
        height: 70px;

        padding: 15px 0px;
    }

    .team-item-image {
        height: 160px;
    }

    .team-item-info .team-item-position {
        height: 120px;
        font-size: 16px;
    }

    .team-item-info {
        min-height: 200px;
    }

    .team-item-image img {
        width: 50%
    }

    .footerlist div.listfooter a {
        font-size: 16px;
    }

    .contact-info-title {
        font-size: 14px !important;
    }

    .contact-info-text {
        font-size: 14px !important;
    }

    h1 {
        font-size: 28px !important;
    }

    .carousel-caption .astro {
        font-size: 60px !important;
    }

    .carousel-caption h1 {
        margin: 0px 0px;
        line-height: 1.2em;
        font-size: 60px !important;
    }

    .carousel-caption {
        top: 30%;
        bottom: auto;
    }

    .carousel-caption strong {
        font-size: 30px;
        font-weight: 700;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 35px;
        line-height: 1.2em;
        margin-top: 10px;
    }

    .carousel-caption p span {
        font-size: 35px !important;
        line-height: 1.2em;
        margin-top: 10px;
    }

    .carousel-caption a {
        font-size: 20px;
        padding: 5px 26px;
        margin-top: 8px;
    }

    .carousel-caption p span a {
        font-size: 20px;
        margin-top: 8px;
        padding: 5px 26px;
    }

    .navbar-nav li a {
        font-size: 14px;
        line-height: 60px;
    }

    body {
        font-size: 16px;
    }

    .blog-post-body p {
        font-size: 16px;
    }

    .logoimage1 {
        height: 270px;
        width: auto;
        margin-top: -40%;
        margin-left: -15%;
    }

    .logoimage2 {
        height: 105%;
        width: auto;
        margin-top: -85px;
        margin-left: -12%;
    }

    .logoimage3 {
        width: 190px !important;
    }

    .nav-solid .navigation {
        height: 60px;
    }

    .headercall {
        font-size: 16px;
        margin-left: 25px;
    }

    .headerbookappointment {
        font-size: 14px;
        margin-left: 25px;
    }

    .contactsubmit {
        padding-left: 45%;
        padding-right: 46%;
    }
}

.headerbookappointment {
    background-color: #b4975d;
}

.carousel-caption a {
    font-family: 'Lato', sans-serif;
    display: block;
    width: max-content;
    height: auto;
    background: url(../img/Button-png.png) center;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    display: block;
}

.carousel-caption a:hover {
    color: #ffc6c6;
}

.checkoutimage {
    width: 20%;
    background-color: black;
}

.chackoutlist .list-group-item {
    background-color: #faf0e6;
    border: none;
}

.vl {
    border-left: 6px solid black;
    height: 20px;
}

.headerbookappointment {
    padding: 2px 12px;
}

.servicenav {
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
}

.servicenav:hover {
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 0px 10px;
}

.sevicesubmenu {
    background-color: #98885dbf;
}

.testimonial-item {
    background-color: #ffffff;
    height: fit-content;
    padding: 25px 0px;
    border-radius: 10px;
}

.blog-media img {
    border-radius: 6px;
    border: 2px solid #b7944e;
}

.contact-info i {
    font-size: 25px;
}

.contact-info-text {
    height: 50px;
}

.divider-footer {
    height: 1px;
    width: 80%;
    margin-bottom: 0px;
    margin-top: 0px;

}

.listfooter a i {
    padding-right: 15px;
    color: #be994f;
}

.site-footer .social-icon .twitter {
    padding: 5px;
    background-color: #be994f;
}

.navbar-nav {
    margin: 0px 0px;
}

.headercall a {
    color: #977635;
    ;
}

.headercall a:hover {
    color: #000;
}


.btn-grad {
    background-image: linear-gradient(to right, #b4975d 0%, #e3c17d 51%, #ffd47f 100%);
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}